body {
	background: lightcyan;
}

.pageTitle {
	text-align: center;
	font-size: 5vw;
	color: skyblue;
}

.lengthParent {
	text-align: center;
	font-size: 3vw;
}

.lengthField {
	width: 30vw;
	height: 5vh;
	font-size: 3vw;
}

.passwordParent {
	text-align: center;
}

.passwordField {
	width: 40vw;
	height: 5vh;
	font-size: 3vw;
}

.checkboxParent {
	text-align: center;
}

.checkboxInner {
	text-align: left;
	display: inline-block;
}

.checkboxLine {
	font-size: 3vw;
	cursor: pointer;
}

.checkboxLine:active {
	background: lightgray;
} 

.checkbox {
	width: 2vw;
	height: 2vw;
}

.charactersField {
	width: 40vw;
	height: 5vh;
	font-size: 2vw;
}

.buttonParent {
	text-align: center;
}

.button {
	margin: 1.8vw;
	background: #adff2f;
	color: #5555fa;
	font-size: 3vw;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	padding: 1vw;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.button:active {
	background: #8ddf0f;
	color: #3535da;
}
