body {
	background: lightcyan;
}

.pageTitle {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: skyblue;
}

.lengthParent {
	text-align: center;
	font-size: 30px;
}

.lengthField {
	width: 230px;
	height: 30px;
	font-size: 30px;
}

.passwordParent {
	text-align: center;
}

.passwordField {
	width: 320px;
	height: 30px;
	font-size: 30px;
}

.checkboxParent {
	text-align: center;
	padding-right: 70px;
}

.checkboxInner {
	text-align: left;
	display: inline-block;
}

.checkboxLine {
	font-size: 30px;
	cursor: pointer;
}

.checkboxLine:active {
	background: lightgray;
} 

.checkbox {
	width: 20px;
	height: 20px;
}

.buttonParent {
	text-align: center;
}

.button {
	margin: 50px;
	background: #adff2f;
	color: #5555fa;
	font-size: 30px;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
}

.button:active {
	background: #8ddf0f;
	color: #3535da;
}
