.pageTitle {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: skyblue;
}

.lengthArea {
	text-align: center;
	font-size: 30px;
}

.password {
	text-align: center;
}

.checkboxParent {
	text-align: center;
}

.checkbox {
	/*text-align: left;*/
	font-size: 30px;
}

.button {
	margin: 1%;
	background: #adff2f;
	color: #5555fa;
	font-size: 30px;
	cursor: pointer;
	border-radius:10px 10px 10px 10px;
	padding: 10px;
}

.button:active {
	background: #8ddf0f;
	color: #3535da;
}

.buttonArea {
	text-align: center;
}