body {
	background: lightcyan;
}

.pageTitle {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: skyblue;
}

.lengthArea {
	text-align: center;
	font-size: 30px;
}

.lengthField {
	width: 190px;
	height: 30px;
	font-size: 30px;
}

.password {
	text-align: center;
}

.passwordField {
	width: 320px;
	height: 30px;
	font-size: 30px;
}

.checkboxParent {
	text-align: center;
	display: block;
}

.checkboxNode {
	text-align: left;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
}

.checkboxNode:active {
	background: lightgray;
} 

.checkbox {
	width: 20px;
	height: 20px;
}

.buttonParent {
	text-align: center;
}

.button {
	margin: 1%;
	background: #adff2f;
	color: #5555fa;
	font-size: 30px;
	cursor: pointer;
	border-radius:10px 10px 10px 10px;
	padding: 10px;
}

.button:active {
	background: #8ddf0f;
	color: #3535da;
}
